.roundedButtton{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 90px;
}

.btn .btn-light{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}
.iconp{
    padding-top: 35px;
    color: blue;
}